.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.header__title {
  max-width: 729px;
  position: relative;
  margin: 183px 0 0;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  margin-top: 28px;
  max-width: 683px;
  margin: 28px 0 0;
  position: relative;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
}

.header__span-accent {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
  margin: 0;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__footer-paragraph {
  display: flex;
  flex-direction: column;
}

.header__address {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  display: flex;
  align-self: flex-end;
}

.header__footer_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__footer_list-item {
  color: #838383;
  font-weight: 500;
}
